<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.diabetes.bloodsugar">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.audio.output"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodSugar"
        tools:targetApi="31">

        <activity
            android:name=".activity.RequestPermActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RingAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RingtonePickerActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.RINGTONE_PICKER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DetailsAlarmActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TagetRangeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.IntroduceActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailInfoActivity"
            android:exported="false"
            android:theme="@style/TabTheme" />
        <activity
            android:name=".activity.NewEditRecordActivity"
            android:exported="false"
            android:theme="@style/TabTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.RemindMeActivity"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_ALARMS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.IntentManagerActivity"
            android:enabled="true"
            android:exported="true"
            android:configChanges="uiMode|orientation|keyboard|colorMode">

            <intent-filter>
                <action android:name="android.intent.action.DISMISS_ALARM"/>
                <action android:name="android.intent.action.SET_ALARM"/>
                <action android:name="android.intent.action.SNOOZE_ALARM"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <provider
            android:name=".alarm.MyWorkManagerInitializer"
            android:authorities="com.diabetes.bloodsugar.alarm.MyWorkManagerInitializer"
            android:exported="false" />

        <service
            android:name=".alarm.SnoozeAlarmService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".alarm.RingAlarmService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".alarm.AlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="in.basulabs.shakealarmclock.DELIVER_ALARM" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>